@charset "ISO-8859-1";
.editbutton{
  background-color: #006cd9;
  border: none;
  border-radius:10px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   cursor:pointer;
   margin:5px;
 }

 .deletebutton{
  background-color: #fa5838;
  border: none;
  border-radius:10px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   cursor:pointer;
   margin:5px;
 }

  .addbutton{
  background-color: #0080ff; 
  border: none;
  border-radius:10px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  margin:5px;
 }
 .editbutton:hover, .deletebutton:hover, .addbutton:hover, .ejemplaresbutton:hover{
 	 color:white;
 	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }
 
 .estadbutton{
  background-color: #555555; 
  border: none;
  border-radius:30%;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
  margin:5px;
  height:50px;
  width:10px;
 }

 .ejemplaresbutton{
  background-color:#7A9FBD;
  border: none;
  border-radius:10px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   cursor:pointer;
   margin:5px;
 }